body {
    font-family: 'Roboto', sans-serif;
}


.container {
    text-align: center;
    border: 1px solid;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: xx-large;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    margin: 5% solid;
}

a {
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;

}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    font-weight: 100;
}

.donate-today {
    text-align: center;
    padding-top: 15%;
    width: 100%;
    top: 80%;
}

.half-with {
    display: flex;
    gap: 50px;
    margin-left: 20%;
    border: 50px;
}

#color {
    background-color: tomato;
    border: 1px tomato;
    width: 10%;
    height: 15%;
    border-radius: 5px;
}

.Amaount {
    text-align: center;
    text-decoration-line: underline;
}

.anchor {
    text-align: center;
}



.our-plan {
    text-align: center;
    margin-top: 10%;

}

.donate-arya {
    display: flex;
    margin-top: 5%;
}

.food {

    border-radius: 2%;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    box-shadow: 10%;
    margin-right: 2%;
    background-color: powderblue;
    height: 200px;
    width: 80%;
    position: 2%;
    padding-right: 5%;
    padding-top: 10%;

}

.shelter {

    border-radius: 2%;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    box-shadow: 10%;
    margin-right: 2%;
    background-color: slategray;
    height: 200px;
    width: 80%;
    position: 2%;
    padding-right: 5%;
    padding-top: 10%;
}

.education {
    border-radius: 2%;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    box-shadow: 10%;
    margin-right: 2%;
    background-color: silver;
    height: 200px;
    width: 80%;
    position: 2%;
    padding-right: 5%;
    padding-top: 10%;
}